body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
} 

.workDay {
  font-size: 4em;
  color: blue;
  text-align: center;
  font-style: italic;
}

.jumbotron {
  text-align: center;
  background-color: rgba(128, 123, 123, 0.143);
  color: blue;
  border-radius: 0;
  border-bottom: 10px solid black;
  font-size: 1em;
  font-style: italic;
}

.time-slot {
  border: 1px dotted rgba(0, 0, 0, 0.623);
  height: 60px;
  line-height: 60px;
  margin: 3px;
  text-align: center;
  font-style: italic;
  border-radius: 15px;
  max-width: 12%;
}

 textarea.form-control {
  border: .5px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(128, 123, 123, 0.143);
  height: 60px;
  line-height: 60px;
  margin: 3px;
  text-align: center;
  rows: 3;
  resize: none;
  overflow: hidden;
  border-radius: 15px;
} 


.saveButton {
  height: 60px;
  vertical-align: middle;
  margin: 3px; 
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 15px;
  max-width: 12%;
}